html {
  background-color: white;
}

/* #svgBox {
  background-color: purple;
} */

svg {
  border: solid 1px #ccc;
  margin: 20px;
  box-shadow: 2px 2px 2px rgb(237, 237, 237) inset;
  border-radius: 3px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

path.link {
  fill: none;
  stroke: #8f8f8f;
  stroke-width: 2px;
  cursor: default;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1px;
  cursor: pointer;
}

circle.node.reflexive {
  stroke: rgb(143, 143, 143) !important;
  stroke-width: 2px;
}

text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
  pointer-events: none;
}

text.id {
  text-anchor: left;
}

.form-group {
  margin: 10px;
}

.form {
  background-color: white;
  height: 500px;
  width: 250px;
  padding: 10px;
}

.btn {
  margin-top: 10px;
}
